   <div class="page-header">
      <h1> Formulaire </h1>
          <fieldset>
              <legend> Compile Article </legend>
              <form  method="post" {{ form_enctype(form) }}>
                  {{ form_widget(form) }}
                  <input type="submit" class"btn btn-primary" />
              </form>
         </fieldset>
   </div>
